h1,
h2,
p,
a {
  font-family: reross-quadratic, sans-serif;
  letter-spacing:.07rem;
}
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}


.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

img:not(.overlay-container img) {
  cursor: pointer;
}

.app {
  position: absolute;
}

.footer {
  width:100%;
  min-height: 2%;
  background-color: #b6c4ae;
}
.footer-border {
  border-top: 1px solid #9D9E9B;
  width:100%;
  min-height: 2%;
  background-color: #b6c4ae;
}

.blush-blush {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
}

.blush-blush img {
  width: 284px;
  height: 284px;
}

.panel {
  max-width: 50%;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-color: #e0e0e0 #fafafa;
  scrollbar-width: thin;
}

.header {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #9D9E9B;
  border-right: 1px solid #9D9E9B;
}

.heading {
  font-size: 50px;
  color: #D3291B;
  font-weight: 500;
  font-family: reross-quadratic, sans-serif;
}

.header-nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #9D9E9B;
}

.header-nav:hover,
.header-nav-active:hover {
  cursor: pointer;
}
.header-nav div,
.header-nav-active div {
  padding: 0.5rem 0;
  width: 50%;
  text-align: center;
  border-right: 1px solid #9D9E9B;
}

.header-nav div:hover {
  background-color: #D3291B;
}

.nav-box-active {
  background-color: #D3291B;
}

.header-nav div p,
.header-nav-active div p {
  color: #84a1c2;
  font-size: 24px;
}

.section-header {
  margin: 0;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #9D9E9B;

  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid #9D9E9B;
}

.section-heading {
  font-weight: 400;
  margin: 0;
  font-size: 36px;
}

.nav-row {
  display: flex;
  align-items: stretch;
}
.nav-item {
  box-sizing: border-box;
  border-right: 1px solid #9D9E9B;
  border-bottom: 1px solid #9D9E9B;
  padding: 0.5rem 1.5rem;
  height: 100%;
  width: 50%;
}

.nav-item-active {
  background-color: #F0B21A;
  box-sizing: border-box;
  border-right: 1px solid #9D9E9B;
  border-bottom: 1px solid #9D9E9B;
  padding: 0.5rem 1.5rem;
  height: 100%;
  width: 50%;
}
.nav-item p,
.nav-item-active p {
  font-size: 16px;
}

.nav-item:hover,
.nav-item-active:hover {
  background-color: #F0B21A;
  cursor: pointer;
}

.blank-nav-item {
  box-sizing: border-box;
  border-right: 1px solid #9D9E9B;
  border-bottom: 1px solid #9D9E9B;
  width: 50%;
}

.nav-fill-remaining {
  flex: 1;
  border-right: 1px solid #9D9E9B;
}

.display-wrap {
  overflow: auto;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display:flex;
  flex-direction:column;
}

.display-content {
  padding: 1.5rem;

}

.display-title {
  font-size: 42px;
  font-weight: 700;
  font-weight: 400;
  font-family: reross-quadratic, sans-serif;
}

.display-detail {
  font-size: .85em;
  color: #757575;
  font-family: 'NeueHaasGrotDisp', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing:.05rem;
  line-height: 1rem;
}

.display-image-wrap {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 2rem 0;
  box-sizing: border-box;
}

.display-image-wrap .arrow-wrap {
  display: flex;
  align-items: center;
}

.display-image-wrap .icon {
  font-size: 50px;
  color:#B4B2AD;
}

.display-image-wrap .icon-disabled {
  color: #9D9E9B;
  opacity: 0.1;
  font-size: 50px;
}

.display-image-wrap .icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.display-image {
  width: 85%;
  height:63vh;
  object-fit:contain;
}

.display-description {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;


  line-height:1.25;
}
.display-description-title {
  font-weight: 300;
  font-size: 22px;
  padding: 0.5rem 0;
  font-family: 'NeueHaasGrotDisp', 'Helvetica', 'Arial', 'sans-serif';
}

.gallery {
  padding: 1rem;

}
.gallery-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-col {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
  box-sizing: border-box;
}
.gallery-img {
  vertical-align: middle;
  width: 100%;
  margin-top: 8px;
}

.about {
  overflow: auto;
  padding: 2rem;
  height: 100%;
  box-sizing: border-box;
}
.about-wrap {
  width:50%;
  height:100vh;
  box-sizing: border-box;
  overflow: auto;;
}

.about-images {
  display: flex;
  margin: 4rem 0;
}

.about-images img {
  width: 33%;
}

.about-details {
  display: flex;
  margin-bottom: 1.5rem;
}

.about-details-label-box {
  flex: 1;
}
.about-details-info-box {
  flex: 3;
}

.about-details-info-box span a {
font-family: 'NeueHaasGrotDisp', 'Helvetica', 'Arial', 'sans-serif';
  flex: 3;
<<<<<<< HEAD
  color: #AF972F;
=======
  color:#AF972F;
>>>>>>> kio-branch
}

.about-details-label-box p,
.about-details-info-box p {
  line-height: 1.33;
  color: #757575;
  font-size: 18px;
  font-family: 'NeueHaasGrotDisp', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing:.05rem;
}

.overlay-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
}

.overlay-container img {
  height: 85%;
  object-fit: contain;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  background-color: #9D9E9B;
  opacity: 0.2;
  justify-content: space-between;
}

.carousel .control {
  background-color: #9D9E9B;
  opacity: 0.2;
  width: 24;
  height: 24;
}

.process-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.process-grid div {
  box-sizing: border-box;
}

.process-grid img {
  height: 100%;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gallery-col {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery-row {
    flex: 100%;
    max-width: 100%;
  }
}
