h1,
h2,
p,
a {
  font-family: reross-quadratic, sans-serif;
}
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.app {
  position: absolute;
}


.blush-blush {
  position: absolute;
  width: 100%;
  height:100%;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
}

.blush-blush img {
  width: 284px;
  height:284px;
}


.panel {
  max-width: 50%;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem 1rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.heading {
  font-size: 48px;
  color: rgba(234, 18, 18, 0.85);
  font-weight: 700;
  font-family: reross-quadratic, sans-serif;
}

.header-nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
}

.header-nav:hover, .header-nav-active:hover {
  cursor: pointer;
}
.header-nav div, .header-nav-active div {
  padding: 0.5rem 0;
  width: 50%;
  text-align: center;
  border-right: 1px solid black;
}

.header-nav div:hover {
  background-color: rgba(234, 18, 18, 0.85);
}

.nav-box-active {
  background-color: rgba(234, 18, 18, 0.85);
}


.header-nav div p, .header-nav-active div p {
  color: #84a1c2;
  font-size: 24px;
}

.section-header {
  margin: 0;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid black;

  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid black;
}

.section-heading {
  font-weight: 400;
  margin: 0;
  font-size: 36px;
}

.nav-row {
  display: flex;
  align-items: stretch;
}
.nav-item {
  box-sizing: border-box;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.5rem 1rem;
  height: 100%;
  width: 50%;
}

.nav-item-active {
  background-color: rgba(234, 18, 18, 0.85);
  box-sizing: border-box;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.5rem 1rem;
  height: 100%;
  width: 50%;
}
.nav-item p,
.nav-item-active p {
  font-size: 16px;
}

.nav-item:hover, .nav-item-active:hover{
  background-color: rgba(234, 18, 18, 0.85);
  cursor: pointer;
}

.blank-nav-item {
  box-sizing: border-box;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 50%;
}

.nav-fill-remaining {
  flex: 1;
  border-right: 1px solid black;
}

.display-wrap {
  overflow: auto;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
}

.display-title {
  font-size: 42px;
  font-weight: 700;
  font-weight: 400;
  font-family: reross-quadratic, sans-serif;
}

.display-detail {
  font-size: 20px;
  color: #757575;
  font-family: Helvetica, Arial, Sans-Serif;
}

.display-image-wrap {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  box-sizing: border-box;
}
.display-image {
  width: 80%;
}

.display-description {
  padding-bottom: 2rem;
}
.display-description-title {
  font-weight: 400;
  font-size: 27px;
  padding: 0.5rem 0;
}

.gallery {
  overflow: auto;
}
.gallery-row {
  display: flex;
  flex-wrap: wrap;
}

.gallery-col {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
  box-sizing: border-box;
}
.gallery-img {
  vertical-align: middle;
  width: 100%;
  margin-top: 8px;
}

.about {
  overflow: auto;

  padding: 1.5rem;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
}

.about-images {
  display: flex;
  margin: 4rem 0;
}

.about-images img {
  width: 33%;
}

.about-details {
  display: flex;
  margin-bottom: 1.5rem;
}

.about-details-label-box {
  flex: 1;
}
.about-details-info-box {
  flex: 3;
}

.about-details-info-box span a {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  flex: 3;
}

.about-details-label-box p,
.about-details-info-box p {
  line-height: 1.33;
  color: #757575;
  font-size: 20px;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gallery-col {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery-row {
    flex: 100%;
    max-width: 100%;
  }
}
